.order-form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}
  
.order-form__upload-container {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

.order-form__comments-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
}

.order-form__comments-label {
  margin-right: 1rem;
  display: block;
}

.order-form__comments-input {
  width: 100%;
  padding: 0.5rem 1rem;
  height: 5rem;
  border: 0.5px solid rgba($color: #000000, $alpha: 0.2);;
  border-radius: 5px;
  font-size: x-large;
}

.order-form__submit-btn {
  padding: 0.5rem 1rem;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 4rem;
  text-transform: uppercase;
  font-size: large;
}

.order-form__submit-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.order-form__upload-label {
  background-color: indigo;
  padding: 0.5rem 0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 3rem;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: larger;

}

.order-form__images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3rem 0;
  justify-content: flex-start;

  @media screen and (max-width: 500px) {
    justify-content: center;
  }
}

.order-form__image-container {
  max-height: 200px;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
  margin-bottom: 7rem;
}

.order-form__image-img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.order-form__image-remove {
  color: white;
  background-color: red;
  width: 100%;
  border-radius: 5px;
  height: 4rem;
  font-size: x-large;
  margin-top: 0.5rem;
  cursor: pointer;
}

